.splitflip-body {
  background: linear-gradient(to bottom right, #131313, #333333);
  color: #fff;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.splitflap {
  position: relative;
  min-width: 55px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  text-align: center;
  color: #d3d3d3;
  text-shadow: 1px 1px 2px #000000, -1px -1px 2px #535353;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .splitflap {
    min-width: 40px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .splitflap {
    min-width: 30px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
  }
}

.top {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  z-index: 0;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@keyframes transitionUp {
  from {
    opacity: 0;
    transform: perspective(500px) rotateX(10deg) translateY(4rem);
  }
  to {
    opacity: 1;
    transform: perspective(500px) rotateX(0deg) translateY(0rem);
  }
}

.animated-div {
  animation: transitionUp 1s cubic-bezier(0.8, 0, 0.2, 1);
}

.bottom {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: -40px;
  border-radius: 5px;
  z-index: -1;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #1a1a1a);
  transform-origin: center;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.nextHalf {
  position: relative;
  height: 40px;
  width: 100%;
  margin-top: -80px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  z-index: 2;
  background-color: #000000;
  background-image: linear-gradient(#1a1a1a, rgba(0, 0, 0, 0));
  transform-origin: bottom;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.nextFull {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: #1a1a1a;
  margin-top: -40px;
  border-radius: 5px;
  z-index: -3;
}

.flip1 {
  animation: flip1 ease-in 1;
  animation-duration: 1s;
}

.flip2 {
  animation: flip2 ease-out 1;
  animation-duration: 1s;
}

@keyframes flip1 {
  0% {
    transform: rotateX(0deg);
    background-color: #1a1a1a;
  }
  50% {
    transform: rotateX(90deg);
    background-color: #000000;
  }
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes flip2 {
  0% {
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
    background-color: #1a1a1a;
  }
}
