.list::after {
  border-radius: 0.5rem;
  border: 1px solid rgb(48, 47, 47);
  content: "";
  position: absolute;
  background: #39415050;
  pointer-events: none;
  z-index: 0;
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transition: inset 0.2s;
  height: var(--height);
  width: var(--width);
}

.list[data-enhanced]:hover {
  --active: 1;
}

.list[data-enhanced]::after {
  opacity: var(--active, 0);
  transition: opacity 0.025s, inset 0.025s 0.025s;
}

.list[data-enhanced]:hover::after {
  transition: opacity 0.2s 0.2s, inset 0.2s;
}

.list:not([data-enhanced]) .listitemcontainer::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  /*   background: hsl(0 0% 10%); */
  border-radius: 1rem;
  opacity: var(--li-active, 0);
  transition: opacity 0.2s;
}

.listitem:hover {
  --li-active: 1;
}

@keyframes animateText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text {
  animation: animateText 0.5s ease-out forwards;
  transition: all 0.3s ease-in-out;
}
