.embla__dot {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
}
.embla__dot:after {
  border: 1px solid rgb(165, 165, 165);
  width: 1.4rem;
  height: 0.4rem;
  border-radius: 2%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  border: 4px solid white;
}
.embla__slide__number {
  backface-visibility: hidden;
}

.glowcontainer::before {
  animation: glowHighlight;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timeline: view(inline);
}
@keyframes glowHighlight {
  entry 50%,
  exit 70% {
    opacity: 0;
  }
  entry 50%,
  exit 50% {
    opacity: 1;
  }
}

@keyframes rotateFade {
  0% {
    opacity: 1;
    transform: rotate(0deg) translate3d(-50%, -50%, 0);
  }
  35% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(1turn) translate3d(-50%, -50%, 0);
  }
}

.animated-element {
  animation: rotateFade 5s infinite;
}
