@keyframes animateText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text {
  animation: animateText 0.5s ease-out forwards;
  transition: all 0.3s ease-in-out;
}

/* Add this CSS to your embla.css file */
.is-selected .text-content {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.text-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.gradient-overlay {
  position: relative;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 9), transparent);
  border-radius: inherit;
}

@media (max-width: 768px) {
  .gradient-overlay::before {
    height: 75%;
  }
}
