/* Add this to your global CSS file or in a <style> tag */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

article {
  animation: highlight;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-timeline: view(inline);
}

[data-snap="true"] ul {
  scroll-snap-type: x mandatory;
}

[data-snap="true"] li {
  scroll-snap-align: center;
}

@keyframes highlight {
  entry 0%,
  exit 100% {
    scale: 0.8;
  }
  entry 100%,
  exit 0% {
    scale: 1.1;
  }
}

.glowcontainer::before {
  animation: glowHighlight;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timeline: view(inline);
}
@keyframes glowHighlight {
  entry 70%,
  exit 80% {
    opacity: 0;
  }
  entry 80%,
  exit 0% {
    opacity: 1;
  }
}

@keyframes rotateFade {
  0% {
    opacity: 1;
    transform: rotate(0deg) translate3d(-50%, -50%, 0);
  }
  35% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(1turn) translate3d(-50%, -50%, 0);
  }
}

.mask-container {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    black 20%,
    white 80%,
    transparent
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    black 20%,
    white 80%,
    transparent
  );
}
